<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>37</BK2>
  <Col3>67</Col3>
  <Reversed>False</Reversed>
  <Multicolour>True</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>123</charcode>
    <chardata>
      <data>170</data>
      <data>119</data>
      <data>221</data>
      <data>119</data>
      <data>221</data>
      <data>119</data>
      <data>221</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>124</charcode>
    <chardata>
      <data>170</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>125</charcode>
    <chardata>
      <data>170</data>
      <data>255</data>
      <data>254</data>
      <data>255</data>
      <data>254</data>
      <data>255</data>
      <data>254</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>126</charcode>
    <chardata>
      <data>102</data>
      <data>89</data>
      <data>191</data>
      <data>127</data>
      <data>191</data>
      <data>127</data>
      <data>191</data>
      <data>127</data>
    </chardata>
  </character>
  <character>
    <charcode>127</charcode>
    <chardata>
      <data>170</data>
      <data>255</data>
      <data>191</data>
      <data>255</data>
      <data>191</data>
      <data>255</data>
      <data>191</data>
      <data>255</data>
    </chardata>
  </character>
</charset>
